extends layout

block content
  .container
    h1 Requests
    p.lead These people want to read your books. Accept or reject their request. If more than one person has requested the same book, then you can only accept a single request. All remaining requests will automatically be rejected. 
    hr
    if theirs.length > 0
      each book, i in theirs
        each item in book.requestedBy
          if item.status == 'is pending'
            .row
              .col-xs-6
                p= item.user + "'s request for " + book.title + " " + item.status
              .col-xs-1
                a.btn.btn-success.btn-sm(href="/books/accept?id=#{book._id}&user=#{item.user}", role="button") Accept
              .col-xs-1
                a.btn.btn-danger.btn-sm(href="/books/reject?id=#{book._id}&user=#{item.user}", role="button") Reject
    else
      p Nobody has requested any of your books yet.
    h1 Your Requests
    p.lead This is a list of the requests you have made. You can delete your requests at any time.
    hr
    if mine.length > 0
      each book, i in mine
        each item in book.requestedBy
          - var requested = (item.user == user.username)
          if requested
            p= "Your request for " + book.title + " " + item.status
    else
      p You haven't requested any books yet.
    h2 Messages
    each note, i in notes.messages
      p= note
        
